In [267]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [268]:
data = pd.read_csv(r"C:\BESANT\VEERA_PROJECTS\ML_Project\Loan_prediction.csv")

In [269]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [270]:
data.shape

(614, 13)

In [271]:
print('No of rows: ', data.shape[0])
print('No of columns: ', data.shape[1])

No of rows:  614
No of columns:  13

In [272]:
## Informnation of Data frame
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

## Handlinhg Missing Data

In [273]:
data = data.drop('Loan_ID',axis=1)

In [274]:
## checking Null values
data.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [275]:
## % of null values
data.isnull().sum()*100/len(data)

Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [276]:
data.keys()

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [277]:
## creating list of columns which < 5% null values
column = ['Gender','Dependents','LoanAmount','Loan_Amount_Term']

In [278]:
## removing null values from Dataset
data = data.dropna(subset = column)

In [279]:
data.isnull().sum()*100/len(data)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        5.424955
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [280]:
data.shape

(553, 12)

In [281]:
print(data['Self_Employed'].unique())
self_emp_mode = data['Self_Employed'].mode()[0]
self_emp_mode

['No' 'Yes' nan]

'No'

In [282]:
print(data['Credit_History'].unique())   ## checking the categary of values
cred_hist_mode = data['Credit_History'].mode()[0]
cred_hist_mode

[ 1.  0. nan]

np.float64(1.0)

In [283]:
## Filling the mode value in null values
data['Self_Employed'] = data['Self_Employed'].fillna(self_emp_mode)
data['Credit_History'] = data['Credit_History'].fillna(cred_hist_mode)

In [284]:
data.isnull().sum()*100/len(data)

Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [285]:
data.shape

(553, 12)

## Handling Categorical Columns

In [286]:
data.sample(7)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
106,Male,Yes,2,Graduate,No,11417,1126.0,225.0,360.0,1.0,Urban,Y
580,Male,Yes,2,Graduate,No,6540,0.0,205.0,360.0,1.0,Semiurban,Y
59,Male,Yes,2,Not Graduate,No,3357,2859.0,144.0,360.0,1.0,Urban,Y
252,Male,No,0,Not Graduate,Yes,2583,2167.0,104.0,360.0,1.0,Rural,Y
321,Male,Yes,3+,Graduate,No,4342,189.0,124.0,360.0,1.0,Semiurban,Y
289,Male,No,0,Graduate,No,9508,0.0,187.0,360.0,1.0,Rural,Y
143,Male,Yes,0,Graduate,No,2698,2034.0,122.0,360.0,1.0,Semiurban,Y

In [287]:
data['Dependents'] = data['Dependents'].replace(to_replace= '3+' , value= '4')

In [288]:
data['Dependents'].unique()

array(['1', '0', '2', '4'], dtype=object)

In [289]:
print(data['Gender'].unique())
print(data['Married'].unique())
print(data['Education'].unique())
print(data['Self_Employed'].unique())
print(data['Property_Area'].unique())
print(data['Loan_Status'].unique())

['Male' 'Female']
['Yes' 'No']
['Graduate' 'Not Graduate']
['No' 'Yes']
['Rural' 'Urban' 'Semiurban']
['N' 'Y']

In [290]:
data['Gender'] = data['Gender'].map({'Male' : 1, 'Female' : 0}).astype('int')
data['Married'] = data['Married'].map({'Yes' : 1, 'No' : 0}).astype('int')
data['Education'] = data['Education'].map({'Graduate' : 1, 'Not Graduate' : 0}).astype('int')
data['Self_Employed'] = data['Self_Employed'].map({'Yes' : 1, 'No' : 0}).astype('int')
data['Property_Area'] = data['Property_Area'].map({'Urban' : 1, 'Rural' : 0, 'Semiurban' : 2}).astype('int')
data['Loan_Status'] = data['Loan_Status'].map({'Y' : 1, 'N' : 0}).astype('int')

In [291]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,1

## Store Feature marrix in X and Target in y

In [292]:
X = data.drop('Loan_Status', axis = 1)

In [293]:
y = data['Loan_Status']

## Feature Scaling

In [294]:
cols = ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']

In [295]:
from sklearn.preprocessing import StandardScaler
st = StandardScaler()
X[cols] = st.fit_transform(X[cols])

In [296]:
X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,-0.128694,-0.049699,-0.214368,0.279961,1.0,0
2,1,1,0,1,1,-0.394296,-0.545638,-0.952675,0.279961,1.0,1
3,1,1,0,0,0,-0.464262,0.229842,-0.309634,0.279961,1.0,1
4,1,0,0,1,0,0.109057,-0.545638,-0.059562,0.279961,1.0,1
5,1,1,2,1,1,0.011239,0.834309,1.440866,0.279961,1.0,1

## Spliting Data into Train and Test 
## Applying K-Fold Cross Validation

In [297]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [298]:
model_df = {}
def model_val(model, X, y):
    X_train, X_test,y_train, y_test = train_test_split(X,y,test_size = 0.20, random_state = 25)
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    print(f"{model} Accuracy is {accuracy_score(y_test, y_pred)}")
    score = cross_val_score(model, X, y, cv=5)
    print(f"{model} Avg cross val score {np.mean(score)}")
    model_df[model] = round(np.mean(score)*100,2)

## Logistic Regression

In [299]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model_val(model, X, y)
model_df

LogisticRegression() Accuracy is 0.8198198198198198
LogisticRegression() Avg cross val score 0.8047829647829647

{LogisticRegression(): np.float64(80.48)}

## support vector classifier(SVC)

In [300]:
from sklearn import svm
model = svm.SVC()
model_val(model, X, y)
model_df

SVC() Accuracy is 0.8018018018018018
SVC() Avg cross val score 0.7938902538902539

{LogisticRegression(): np.float64(80.48), SVC(): np.float64(79.39)}

## Decision Tree Classifier

In [301]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model_val(model, X, y)
model_df

DecisionTreeClassifier() Accuracy is 0.7027027027027027
DecisionTreeClassifier() Avg cross val score 0.6944799344799344

{LogisticRegression(): np.float64(80.48),
 SVC(): np.float64(79.39),
 DecisionTreeClassifier(): np.float64(69.45)}

## Random Forest Clessifier

In [302]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model_val(model, X, y)
model_df

RandomForestClassifier() Accuracy is 0.8198198198198198
RandomForestClassifier() Avg cross val score 0.7866502866502867

{LogisticRegression(): np.float64(80.48),
 SVC(): np.float64(79.39),
 DecisionTreeClassifier(): np.float64(69.45),
 RandomForestClassifier(): np.float64(78.67)}

## Gradient Boosting Classifier

In [303]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
model_val(model, X, y)
model_df

GradientBoostingClassifier() Accuracy is 0.7927927927927928
GradientBoostingClassifier() Avg cross val score 0.7703521703521703

{LogisticRegression(): np.float64(80.48),
 SVC(): np.float64(79.39),
 DecisionTreeClassifier(): np.float64(69.45),
 RandomForestClassifier(): np.float64(78.67),
 GradientBoostingClassifier(): np.float64(77.04)}

## Hyper Parameter Tuning

In [304]:
from sklearn.model_selection import RandomizedSearchCV

## Logistic regression

In [305]:
log_reg_grid = {"C" : np.logspace(-4,4,20),
               "solver" : ["liblinear"]}

In [306]:
rs_log_reg = RandomizedSearchCV(LogisticRegression(),
                  param_distributions = log_reg_grid,
                  n_iter = 20,cv = 5, verbose = True )

In [307]:
rs_log_reg.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=LogisticRegression(), n_iter=20,
                   param_distributions={'C': array([1.00000000e-04, 2.63665090e-04, 6.95192796e-04, 1.83298071e-03,
       4.83293024e-03, 1.27427499e-02, 3.35981829e-02, 8.85866790e-02,
       2.33572147e-01, 6.15848211e-01, 1.62377674e+00, 4.28133240e+00,
       1.12883789e+01, 2.97635144e+01, 7.84759970e+01, 2.06913808e+02,
       5.45559478e+02, 1.43844989e+03, 3.79269019e+03, 1.00000000e+04]),
                                        'solver': ['liblinear']},
                   verbose=True)

In [308]:
rs_log_reg.best_score_

np.float64(0.8047829647829647)

In [309]:
rs_log_reg.best_params_

{'solver': 'liblinear', 'C': np.float64(0.23357214690901212)}

 ## SVC

In [310]:
svc_grid = {"C" : [0.25,0.5,0.75,1],
            "kernel" : ['linear']}

In [315]:
rs_svc = (svm.SVC(), param_distributions = svc_grid,
                  cv = 5, n_iter = 20, verbose = True)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1532888406.py, line 1)

In [ ]:
rs_svc.fit(X,y)

In [ ]:
rs_svc.best_score_

In [ ]:
rs_svc.best_params_

## RandomForest Classifier

In [ ]:
RandomForestClassifier()

In [ ]:
rf_grid = {"n_estimators" : [10,1000,10],
           "max_features" : ['auto', 'sqrt'],
           "max_depth" : [None,3,5,10,20,30],
           "min_samples_split" : [2,5,20,50,100],
           "min_samples_leaf" : [1,2,5,10]}

In [ ]:
rs_rf = RandomizedSearchCV(RandomForestClassifier(),
                          param_distributions = rf_grid,
                          cv = 5, n_iter = 20, verbose = True)

In [ ]:
rs_rf.fit(X,y)

In [ ]:
rs_rf.best_score_

In [ ]:
rs_rf.best_params_

## Save the Model

In [ ]:
X = data.drop('Loan_Status', axis = 1)
y = data['Loan_Status']

In [ ]:
rf = RandomForestClassifier(
     n_estimators = 1000,
     min_samples_split = 50,
     min_samples_leaf = 10,
     max_features = 'sqrt',
     max_depth = None
)

In [ ]:
rf.fit(X,y)

In [ ]:
import joblib

In [ ]:
joblib.dump(rf, 'Loan_status_predict')

In [ ]:
model = joblib.load('Loan_status_predict')

In [ ]:
data.head()

In [ ]:
df = pd.DataFrame({
    'Gender' : 1,
    'Married' : 1,
    'Dependents' : 2,
    'Education' : 0,
    'Self_Employed' : 0,
    'ApplicantIncome' : 2889,
    'CoapplicantIncome' : 0.0,
    'LoanAmount' : 45,
    'Loan_Amount_Term': 180,
    'Credit_History' : 0,
    'Property_Area' : 1
    
}, index = [0])

In [ ]:
df

In [ ]:
result = model.predict(df)

In [ ]:
if result == 1:
    print("Loan is approved")
else:
    print("Loan is not approved")

## Graphical User Interface

In [ ]:
from tkinter import *

In [ ]:
def show_entry():

    p1 = float(e1.get())
    p2 = float(e2.get())
    p3 = float(e3.get())
    p4 = float(e4.get())
    p5 = float(e5.get())
    p6 = float(e6.get())
    p7 = float(e7.get())
    p8 = float(e8.get())
    p9 = float(e9.get())
    p10 = float(e10.get())
    p11 = float(e11.get())


    model = joblib.load('Loan_status_predict')
    df = pd.DataFrame({
    'Gender' : p1,
    'Married' : p2,
    'Dependents' : p3,
    'Education' : p4,
    'Self_Employed' : p5,
    'ApplicantIncome' : p6,
    'CoapplicantIncome' : p7,
    'LoanAmount' : p8,
    'Loan_Amount_Term': p9,
    'Credit_History' : p10,
    'Property_Area' : p11
    
}, index = [0])
    result = model.predict(df)

    if result == 1:
        print("Loan Approved").grid(row=31)
    else:
        print("Loan Not Approved").grid(row=31)


master = Tk()
master.title("Loan Status prediction using Machine Learning")
label = Label(master,text = "Loan Status Prediction", bg = "black",
                     fg = "white").grid(row = 0,columnspan = 2)

Label(master, text = "Gender [1:Male, 0:Female]").grid(row = 1)
Label(master, text = "Married [1:Yes, 0: No]").grid(row = 2)
Label(master, text = "Dependents [1,2,3,4]").grid(row = 3)
Label(master, text = "Education").grid(row = 4)
Label(master, text = "Self_Employed").grid(row = 5)
Label(master, text = "ApplicantIncome").grid(row = 6)
Label(master, text = "CoapplicantIncome").grid(row = 7)
Label(master, text = "LoanAmount").grid(row = 8)
Label(master, text = "Loan_Amount_Term").grid(row = 9)
Label(master, text = "Credit_History").grid(row = 10)
Label(master, text = "Property_Area").grid(row = 11)

e1 = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)
e5 = Entry(master)
e6 = Entry(master)
e7 = Entry(master)
e8 = Entry(master)
e9 = Entry(master)
e10 = Entry(master)
e11 = Entry(master)


e1.grid(row=1,column= 1)
e2.grid(row=2,column= 1)
e3.grid(row=3,column= 1)
e4.grid(row=4,column= 1)
e5.grid(row=5,column= 1)
e6.grid(row=6,column= 1)
e7.grid(row=7,column= 1)
e8.grid(row=8,column= 1)
e9.grid(row=9,column= 1)
e10.grid(row=10,column= 1)
e11.grid(row=11,column= 1)

Button(master,text = "Predict", command = show_entry).grid()

mainloop()